.navbar {
  position: sticky;
  top: 0;
  background-color: #f7f7f7;
  padding: 5px;
  overflow: hidden;
  z-index: 1000;
  overflow: hidden;
  list-style-type: none;
}
.navbar img{
  padding: 10px;
  width: 50%;
  height: auto;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
    float: right;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-right: auto; 
}
.navbar a:hover{
    background-color: hsl(0, 0%, 92%);
}
